<div class="category-card-box">
    <a href="/forum/title?title={{title}}"><div class="category-card">
        <img src="/img/{{filename}}" class="card-img-top" alt="">
        <h3>{{title}}</h3>
    </div></a>
</div>

