<div class="post-card">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <h6 class="card-subtitle text-muted">Written By {{user.user_name}}</h6>
        <p class="card-text">{{body}}</p>
                <p class="card-text">He I am just a fake post because we don't currently have the proper GET route for it</p>
        <!-- <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a> -->
    </div>
</div>
