<div class="post-card">
    <div class="card-body">
        <section class="post-top">
            <h5 class="card-title">{{title}}</h5>
            <h6 class="card-subtitle">Written By {{user.user_name}}</h6>
        </section>
        <section class="post-body">
            <p class="card-text">{{body}}</p>
        </section>
        <!-- <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a> -->
    </div>
</div>