<div class="gcard-body" style="width: 18rem;">
  {{!-- <img src="{{URL}}" class="card-img-top"> --}}
  <img src="https://www.wasaweb.net/images/thumbnails/512x512-flowers-488.jpg" class="card-img-top">
  <h3 class="card-title">{{Scientific_Name}}</h3>
  <h3 class="card-title">{{Common_Name}}</h3>
</div>
