<div class="card-body">
  <div class="card" style="width: 18rem;">
    <img src="{{URL}}" class="card-img-top">
    <h3 class="card-title">{{Scientific_Name}}</h3>
    <h3 class="card-title">{{Common_Name}}</h3>
  </div>
</div>
