<section class="widgets">
    <div class="weather">
        <h3>Weather</h3>
        <img class="icon" src="" id="icon">
        <h2 id="city">Weather in</h2>
        <p id="weather"></p>
        <p class="temp"></p>
        <p class="wind"></p>
        <p class="humidity"></p>
    </div>
</section>