<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backyard Jungle</title>
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <main>

        <div class="content">

            <div class="home-page-body">
                <header>
                    <div class="welcome-hero">
                        <h1>Backyard Jungle</h1>
                    </div>
                </header>

                <div class="teaser">
                    <div class="teaser-card plant-id-teaser">
                        <h3>Identify Plants You Find Along The Way</h3>
                    </div>
                    <div class="teaser-card group-teaser">
                        <h3>Talk to Other Plant People In Our Forums</h3>
                    </div>
                    <div class="teaser-card widget-teaser">
                        <h3>Use Our Widgets To Go The Extra Mile For Your Garden</h3>
                    </div>
                </div>
                {{!-- ANA TESTING --}}
                <div> {{{body}}}</div>
                <div class="join">
                    <h2>Join Our Growing Community Of Plant Lovers</h2>
                    <div class="join-btn-box">
                        <button class="btn btn-primary" type="submit">Sign up</button>
                        <button class="btn btn-primary loginBtn" type="submit">Login</button>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <ul class="footer-nav">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Browse Communities</a>
                </li>
                <li>
                    <a href="#">Plant Id</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </footer>
    </main>
    <script src="/js/login.js"></script>
</body>

</html>
