<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backyard Jungle</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    {{!-- GOOGLE FONTS --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@500;700;900&display=swap" rel="stylesheet">
    {{!-- MAIN STYLING --}}
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <main>
        <header>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link" href="#">Browse</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
                {{!-- <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Button</button>
                    </div>
                </div> --}}
                <li class="nav-item">
                    {{#if logged_in}}
                    <a href="/profile"><img src="{{ username.img }}" alt=""></a> |
                    <button class="no-button nav-link" id="logout">Logout</button>
                    {{else}}
                    <a class="nav-link" href="/login">Login</a>
                    {{/if}}                
                </li>
              </ul>
        </header>

        <div class="content">
            {{{ body }}}
        </div>

    </main>

            <footer>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                  <a href="#">Browse Communities</a>
                </li>
                <li>
                    <a href="#">Plant Id</a>
                </li>
                <li>
                  <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </footer>

    <script src="/js/tips.js"></script>
        <script src="/js/plantSearch.js"></script>
    <script src="server.js"></script>
</body>
</html>
