<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backyard Jungle</title>
    {{!-- CSS RESET --}}
    <link rel="stylesheet" href="/css/reset.css">
    {{!-- BOOSTRAP --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    {{!-- GOOGLE FONTS --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@500;700;900&display=swap" rel="stylesheet">
    {{!-- MAIN STYLING --}}
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header>
            <img class="logo" src="/img/logo.png" alt="">

            <ul class="nav">              
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/communities/">Communities</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about/">About</a>
                </li>
                   <li class="nav-item">
                  <a class="nav-link" href="/contact/">Contact</a>
                </li>
                {{!-- <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Button</button>
                    </div>
                </div> --}}
                <li class="nav-item">
                    {{#if logged_in}}
                    <a href="/profile"><img src="{{ username.img }}" alt=""></a> |
                    <button class="no-button" id="logout">Logout</button>
                    {{else}}
                    <a class="nav-link" href="/login">Login</a>
                    {{/if}}                
                </li>
                
              </ul>
        </header>

    <main>

        <div class="content">
            {{{ body }}}
        </div>

    </main>

    <footer>
        <ul class="footer-nav">
            <li>
                <a href="/communities/">Browse Communities</a>
            </li>
            {{!-- <li>
                <a href="#">Plant Id</a>
            </li> --}}
            <li>
                <a href="/about/">About the Project</a>
            </li>
            <li>
                <a href="/contact/">Contact Us</a>
            </li>
        </ul>
    </footer>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
    <script src="/js/tips.js"></script>
    <script src="/js/plantSearch.js"></script>
    <script src="/js/post.js"></script>
    <script src="server.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="../public/js/post.js"></script>
</body>
</html>
