<div class="categories-intro">
    <h1>About Backyard Jungle</h2>
    <p style="font-size: 20px;">Our Origin Story</p>
</div>


<div class="text">
    <p>
    This forum was created so that plant lovers everywhere could connet with one another and trade tips on how to properly care for certain plants as a lot of people struggle with keeping their plants healthy. Users can also keep others in the loop by posting about how their plants are coming along. 
    </p>
    <p>
    This website allows users to identify plants that they do not regonize via images and even lets users collect a variety of plants to keep in their "Garden" which is accesible from their personalized profiles.
    </p>
    <p>
    This forum also includes helpful widgets such as the weather for your specific location. Eventually, this website will be able to to take an uploaded image and use it as their profile picture as well. 
  </p>
</div>
