<div class="card" style="width: 18rem;">
    <img src="/images/{{category-photo.[0].filename}}" class="card-img-top" alt="{{paintings.[0].at-text}}">
</div>


<!-- ON HOVER display the description of the category in an overlay 