<div class="categories-intro">
    <h1>Find Your Community</h2>
    <p>Join the latest conversations in the plant world. Get advice, help others, or just chat!</p>
</div>

<div class="category-collection">
    {{#each categories as |category|}}

{{> category-tiles}}
{{/each}}

</div>
