<div>
    <section class="page-intro">
        <h2>Find Your Community</h2>
        <p>Join the latest conversations in the plant world. Get advice, help others, or just chat!</p>
    </section>

    <section class="category-collection">
        {{#each categories as |category|}}
        {{> category-tiles}}
        {{/each}}
    </section>
</div>