<div class="categories-intro">
    <h1>We'd Love To Hear From You</h2>
        <p style="font-size: 20px;">Meet The Team!</p>
          <p>
        Feel free to contact us via Github and Email!
    </p>
</div>


<div class="contact">
    <p>
        Alejandro - 
        <a href="https://github.com/Alzapata317" style = "color: black; text-decoration: underline">Github</a>
        <a href="mailto:alzapata@gmail" style = "color: black; text-decoration: underline">Email</a>
    </p>
    <p>
        Ana - 
        <a href="https://github.com/Anastasia095" style = "color: black; text-decoration: underline">Github</a>
        <a href="mailto:anastas.tarasenko001@mymdc.net" style = "color: black; text-decoration: underline">Email</a>
    </p>
    <p>
        Karen - 
        <a href="https://github.com/kmart134"style = "color: black; text-decoration: underline">Github</a>
        <a href="mailto:ksmgps@hotmail.com"style = "color: black; text-decoration: underline">Email</a>
    </p>
    <p>
        Mackenzie - 
        <a href="https://github.com/MackenzieJoyce"style = "color: black; text-decoration: underline">Github</a>
        <a href="mailto:MackenzieJoyce414@gmail.com"style = "color: black; text-decoration: underline">Email</a>
    </p>
    <p>
        Miranda - 
        <a href="https://github.com/mirandamorton1"style = "color: black; text-decoration: underline">Github</a>
        <a href="mailto:miranda.morton1@gmail.com"style = "color: black; text-decoration: underline">Email</a>
    </p>
</div>