<div class="categories-intro">
    <h1>We'd Love To Hear From You</h2>
        <p>Meet The Team!</p>
</div>


<div class="contact">
    <p>
        Feel free to contact us via Github and Email!
    </p>
    <p>
        Alejandro - 
        <a href="https://github.com/Alzapata317">Github</a>
        <a href="mailto:alzapata@gmail">Email</a>
    </p>
    <p>
        Ana - 
        <a href="https://github.com/Anastasia095">Github</a>
        <a href="mailto:anastas.tarasenko001@mymdc.net">Email</a>
    </p>
    <p>
        Karen - 
        <a href="https://github.com/kmart134">Github</a>
        <a href="mailto:ksmgps@hotmail.com">Email</a>
    </p>
    <p>
        Mackenzie - 
        <a href="https://github.com/MackenzieJoyce">Github</a>
        <a href="mailto:MackenzieJoyce414@gmail.com">Email</a>
    </p>
    <p>
        Miranda - 
        <a href="https://github.com/mirandamorton1">Github</a>
        <a href="mailto:miranda.morton1@gmail.com">Email</a>
    </p>
</div>