<div class="categories-intro">
    <h1>Meet The Team!</h1>
</div>


<div class="contact-content">
    <div class="team-tile">
        <img src="/img/team/zapata.png" class="profile-info-img">
        <div class="team-content">
            <div class="widget-top">
                <h3>Alejandro Zapata</h3>
            </div>
            <p>GitHub <br>
                <a href="https://github.com/Alzapata317">Alzapata317</a>
            </p>
            <p>Email <br>
                <a href="mailto:alzapata@gmail">alzapata@gmail.com</a>
            </p>
        </div>
    </div>


    <div class="team-tile">
        <img src="/img/team/tarasenko.png" class="profile-info-img">
        <div class="team-content">
            <div class="widget-top">
                <h3>Anastasia Tarasenko</h3>
            </div>
            <p>GitHub<br>
                <a href="https://github.com/Anastasia095">Anastasia095</a>
            </p>
            <p>Email<br>
                <a href="mailto:anastas.tarasenko001@mymdc.net">anastas.tarasenko001@mymdc.net</a>
            </p>
        </div>

    </div>

    <div class="team-tile">
        <img src="/img/team/martinez.png" class="profile-info-img">
        <div class="team-content">
            <div class="widget-top">
                <h3>Karen Martinez</h3>
            </div>
            <p>GitHub<br>
                <a href="https://github.com/kmart134">kmart134</a>
            </p>
            <p>Email<br>
                <a href="mailto:ksmgps@hotmail.com">ksmgps@hotmail.com</a>
            </p>
        </div>
    </div>

    <div class="team-tile">
        <img src="/img/team/joyce.jpg" class="profile-info-img">

        <div class="team-content">
            <div class="widget-top">
                <h3>Mackenzie Joyce</h3>
            </div>
            <p>GitHub<br>
                <a href="https://github.com/MackenzieJoyce">MackenzieJoyce</a>
            </p>
            <p>Email<br>
                <a href="mailto:MackenzieJoyce414@gmail.com">MackenzieJoyce414@gmail.com</a>
            </p>
        </div>
    </div>

    <div class="team-tile">
        <img src="/img/team/morton.png" class="profile-info-img">
        <div class="team-content">
            <div class="widget-top">
                <h3>Miranda Morton</h3>
            </div>
            <p>GitHub<br>
                <a href="https://github.com/mirandamorton1">mirandamorton1</a>
            </p>
            <p>Email<br>
                <a href="mailto:miranda.morton1@gmail.com">miranda.morton1@gmail.com</a>
            </p>
        </div>
    </div>
</div>