<div class="profile-dashboard">
    <aside class="profile-info">
        <figure>
            <img src="/img/chika.jpg" alt="">
            <!-- INSERT PROFILE IMAGE -->
        </figure>
        <h3>{{user_name}}</h3>
        {{> tips-tile}}
        {{> weather-tile}}
    </aside>

    <section id="profile-details">
        <div>
            <h3>My Garden</h3>
            <p class="garden-tile"></p>
            <div class="wraper">
            {{#each plants as |plant|}}
            {{> profile-garden-tiles}}
            {{/each}}
            </div>
            {{#each post as |p|}}
            {{> post-box}}
            {{/each}}
        </div>

        <div class="input-group">

            <form id="plantSearch">
                <input type="text" id="pSearch" class="form-control" placeholder="Looking for something specific?"
                    aria-label="Looking for something specific?" name="plant" aria-describedby="basic-addon2">
                <input type="submit" value="OK">
            </form>
            {{!-- <div class="input-group-append">
                <button class="btn btn-outline-secondary" id="plantSearch" type="button" action="/#">Search</button>
            </div> --}}
        </div>



    </section>

    <!--            <div>
        Weather App would go down here 
    </div> 
-->
</div>