<div class="profile-dashboard">
    <aside class="profile-info">
        <figure>
            <img src="" alt="">
            <!-- INSERT PROFILE IMAGE -->
        </figure>
        <h3>{{user_name}}</h3>
        {{> tips-tile}}
    </aside>

    <section id="profile-details">
        <div>
            <h3>My Garden</h3>
            <p class="garden-tile">{{> profile-garden-tiles}}</p>
        </div>

        <div class="input-group">
            <input type="text" class="form-control" placeholder="Looking for something specific?" aria-label="Looking for something specific?" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Search</button>
            </div>
        </div>


        
    </section>

<!--            <div>
        Weather App would go down here 
    </div> 
-->
</div>