<div class="profile-dashboard">
    <aside class="profile-info">
        <figure>
            <img src="" alt="">
            <!-- INSERT PROFILE IMAGE -->
        </figure>
        <h3>{{user_name}}</h3>
        {{> tips-tile}}
    </aside>

    <section id="profile-details">
        <div>
            <h3>My Garden</h3>
            <p class="garden-tile">{{> profile-garden-tiles}}</p>
        </div>


        
    </section>

<!--            <div>
        Weather App would go down here 
    </div> 
-->
</div>