<div class="profile-dashboard">
    <aside class="profile-info">
        <figure>
            <img class="profile-info-img" src="/img/chika.jpg" alt="">
            <!-- INSERT PROFILE IMAGE -->
        </figure>
        <h3>{{user_name}}</h3>


        <section class="widgets">
            <div class="weather">
                <div class="widget-top">
                    <h3>Local Weather</h3>
                </div>
                <img class="icon" src="" id="icon">
                <h2 id="city">Weather in</h2>
                <p id="weather"></p>
                <p class="temp"></p>
                <p class="wind"></p>
                <p class="humidity"></p>
            </div>
        </section>


        <section class="widgets">
            <div class="tips">
                <div class="widget-top">
                    <h3>Tips</h3>
                </div>
                <p id="tips"></p>
            </div>
        </section>



    </aside>

    <section class="profile-details">
        <div>
            <div class="wraper">
                {{#each plants as |plant|}}
                {{> profile-garden-tiles}}
                {{/each}}
            </div>
            <div class="input-group searchf">
                <form id="plantSearch">
                    <input type="text" id="pSearch" class="form-control psearchb" placeholder="Looking for something?"
                        aria-label="Looking for something?" name="plant" aria-describedby="basic-addon2">
                    <input class="btn primary-btn psearchb" type="submit" value="Search">
                </form>
            </div>


            <h3>My Posts</h3>
            {{#each post as |post|}}
            {{> post-box}}
            {{/each}}
         <h3>My Garden</h3>
            <div class="wraper">
                 
                {{#each cplants as |cplant|}}
                {{> collection}}
                {{/each}}
            </div>
        </div>

    </section>

</div>
<script src="/js/tips.js"></script>
<script src="/js/plantSearch.js"></script>