/*  VARIABLES  */
:root {
    --dark: #223F4F;
    --dark-middle: #737f5f;
    --middle: #A8B088;
    --light: #edffce;
    --offWhite: #f6fff3;
    --standout: #a4725c;
    --touches: #e979a0;
}

/*  BODY AND TYPOGRAPHY  */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--light);
    font-size: 16px;
    font-family: 'Public Sans', sans-serif;    

}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

h2 {
    font-size: 1.6rem;
    font-weight: 700;
}

h3 { 
    font-size: 1.1rem;
}

h1,
h2 {
    letter-spacing: .15rem;
}

a {
    color: var(--offWhite);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: var(--dark);
}

ul {
    list-style: none;
}


.btn {
    color: var(--offWhite);
    border: 1px solid var(--standout);
    background-color: var(--standout);
    transition: .4s;
}

.btn:hover {
    border: 1.8px solid var(--dark);
    background-color: var(--standout);
    transform: scale(1.1);
    cursor: pointer;
}

img {
    object-fit: contain;
}

.card-body {
    padding: 0;

}

.modal {
    width: 30%;
    position: fixed;
    left: 500px;
}

.modal-header {
    background-color: var(--standout);
}

.mcustom {
    padding: 10%;
    background-color: var(--light);
}


/* Garden Tiles START */
.wraper {
    display: flex;
    flex-wrap: wrap;
}

.gcard-body {
    background-color: #647646;
    padding: 0.5%;
    margin: 0.5%;
    text-align: center;
}

.collection-add {
    margin: 5%;
}

/* Garden Tiles END */
/* Plant Search */

.searchf form {
    /* width:100%; */
    display: flex;
    flex-direction: row;
}

.ifInfo {
    display:none;
    margin: 0;
    padding: 0;
}

/*  EVERYPAGE  */
.main-header { 
    margin-bottom: 30px;
    margin-bottom: 30px;
    padding: 0 10px;
    background-color: var(--middle);
    display: flex;
    justify-content: space-between;
}

.nav {
    background-color: var(--middle);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* position: fixed;
    left: 0;
    z-index: 5; */
}


.nav-item { 
    margin: 0 5px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.nav-item:hover {
    color: var(--dark);
    background-color: var(--light);
    cursor: pointer;
}

/* .nav-item:active {
    border-bottom: var(--standout);
} */

/* .nav .input-group {
    width: 300px;
} */

.logo { 
    width: 250px;
    margin-left: 30px;
    padding-bottom: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    height: 50px;
    width: 100%;
    margin-top: 30px;
    padding: 10px 0;
    background-color: var(--middle);
    text-align: center;
}

footer ul {
    margin: 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 20px;
    font-size: .8rem;
    display: flex;
    align-items: center;
}


/*  HOME PAGE  */
.home-page-body {
    width: 100%;
    background: linear-gradient(to bottom, #edffce 20%, #8DAA91);
}

.home-page-body .nav {
    height: fit-content;
    display: flex;
    justify-content: center;
}

.home-frame {
    width: 100%;
    position: absolute;
}

.welcome-hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-content {
    margin: 225px 0 75px 0;
    z-index: 2;
}

.welcome-hero h1 {
    margin: 25px 0;
    color: #0e1c0f;
    font-size: 5rem;
    letter-spacing: .2rem;
    word-spacing: 2rem;
    text-shadow: 1px 1px 8px var(--standout);
}

.about-hero h1 {
    margin: 10px;
    color: #0e1c0f;
    font-size: 3rem;
    letter-spacing: .1rem;
    word-spacing: 2rem;
}

/* .welcome-hero h2 { 
    font-size: 3rem;
} */

.welcome-hero button {
    width: 125px;
    padding: 10px 0;
    font-size: 1.3rem;
}

.welcome-hero .custom-btn { 
    margin-right: 20px;
}

.teaser {
    margin: 30px;
    padding: 30px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


.teaser-card,
.teaser-card img {
    width: 350px;
    height: 100%;
    border-radius: 5px;
}

.teaser-card {
    background-color: var(--dark-middle);
    color: var(--light);
    text-align: center;
    word-wrap: normal;
    transition: .5s;
}

.teaser-card h3,
.category-card-box h3 {
    padding: 10px;
}

.category-card {
    text-align: center;
    border: 1px solid var(--dark);
    border-radius: 3px;
    transition: .5s;
}

/* Includes category card found in the category.handlebars */

.teaser-card:hover,
.category-card:hover,
/* .category-list:hover, */
.forum-box .card:hover {
    border: 1.8px solid var(--dark);
    transform: scale(1.1);
    cursor: pointer;
}


.github {
    margin: 100px 0;
    text-align: center;
}


/*  LOGIN  */
.login-forms {
    display: flex;
    justify-content: center;
}

/* div around the two forms */

.login-card {
    height: 250px;
    margin: 0 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.login-card h2 {
    margin: 10px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-right: 8px;
    margin-bottom: 5px;
}

.form-group input {
    border-radius: 4px;
}

.login-card .form-group-btn {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* Positions button at the center */

.form-group-btn button {
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    align-content: center;
}



/*  CATEGORIES  */
.categories-intro {
    padding: 30px 30px 20px 30px;

    /* width: 100%;
    background-color: var(--middle);
    color: var(--dark);
    text-align: center; */
}

.categories-intro h1 {
    color: var(--standout);
}

.category-card-box {
    width: 100%;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.category-card-box {
    width: 25%;
}

.category-collection {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.category-card {
    background-color: var(--dark-middle);
    color: var(--light);
    text-align: center;
    word-wrap: normal;
    transition: .5s;
}



/*  Profile  */
.profile-dashboard {
    width: 100%;
    padding-top: 30px;
    display: flex;
}

.profile-info {
    width: 30%;
    padding: 30px;
}

.profile-info figure {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

.profile-info-img {
    width: 100%;
    border-radius: 50%;
    border: 5px solid var(--dark-middle);
}

.profile-info>h3 {
    margin: 10px 0 20px 0;
    color: var(--dark);
}

.widgets {
    width: 100%;
    margin-bottom: 30px;
    background-color: var(--offWhite);
    text-align: center;
    border: 1px solid var(--dark-middle);
    border-radius: 5px;
}


.widget-top { 
    padding: 10px;
    background-color: var(--standout);
    color: var(--offWhite);
    font-weight: 600;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.profile-details {
    padding: 30px 0 30px 30px;
}

.profile-details h3 {
    margin-bottom: 20px;
    font-weight: 700;
}

.profile-details p {
    padding-bottom: 60px;
}

.profile-details .input-group { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group .form-control { 
    width: 100%;
    text-align: center;
}

.input-group .form-inline, 
.profile-details .input-group button { 
    width: 30%;
}

.garden-box {
    display: flex;
}

.garden-box .card-body {
    width: 20%;
    margin: 20px 20px 20px 0;
    border: 1px solid var(--dark);
    border-radius: 5px;
    display: flex;
}

.post-card {
    margin-bottom: 30px;
    padding-bottom: 30px;
    background-color: var(--offWhite);
    border: 1px solid var(--dark-middle);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.post-card .post-top, 
.post-card p { 
    padding: 10px;
}

.post-top { 
    background-color: var(--dark-middle);
    color: var(--offWhite);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}



/*  FORUM  */
.specific-forum-content { 
    display: flex;
    justify-content: space-around;
}

.specific-category-list {
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.specific-category-list h3 { 
    padding: 10px;
    margin: 0;
    font-weight: 600;
    background-color: var(--standout);
    border-top-right-radius: 10px;
}

.list-group-item { 
    width: 100%;
    height: 70px;
    color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-list a:hover {
    text-decoration: none;
    color: var(--dark);
}

.specific-forum-post { 
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.specific-forum-post h3 { 
    margin: 10px 0;
}

.add-post button { 
    width: 4rem;
    height: 4rem;
    margin-right: 30px;
    background-color: var(--standout);
    color: var(--offWhite);
    font-size: 2.5rem;
    font-weight: 800;
    border-radius: 50%;
    border: .5px solid var(--light);
}

.add-post button:hover { 
    background-color: var(--dark-middle);
    color: var(--offWhite);
}

.post-card {
    padding: 1%;
    margin: 0.5%;
    border: solid;
    border-color: darkgreen;
    border-radius: 10px;

}